@import 'tailwindcss';

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}
